# Python

- Python Basics
- Variables and Data Types
- Explicit Line joining
- Escape sequences
- Input and Output in Python
- Print Function
- Formating In strings
- Pickling 
- Operations and Expressions\
Arithmeric operators\
Logical operators\
Conditional Operators\
Bitwise Operators\
Assignment Operators
- Loops - for loops, while loops, for each loop
- Functions
- Keyword Arguments
- Var Args
- List Comprehentions
- Python Data Structures\
Strings\
Lists\
Tuples\
Dictionaries\
Sets\
- Advance Concepts Python
-- Classes and objects (OOPS)
--Exception Handling

# Python Basics

Comments - Code tells you how, comments tells you why\

In [1]:
print("Hello")

Hello

In [2]:
name = input()
print(name,end=" ")
print("Good morning")

a
a Good morning

In [3]:
import math
print(math.factorial(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [4]:
print?

In [5]:
help(print)#Single line comment

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
'''Multiline comment
hello
'''
#the above is string

'Multiline comment\nhello\n'

# Variable and Data types

In [7]:
first = 20
print(first)
print(type(first))
print(id(first))

second = first
print(second)
print(type(second))
print(id(second))

20
<class 'int'>
2954593528720
20
<class 'int'>
2954593528720

In [8]:
a = 1
print(type(a))

<class 'int'>

In [9]:
b = 1.2
print(type(b))

<class 'float'>

In [10]:
c1 = 'x'
c2 = "Hello"
c3 = '''Hi Everyone!'''
print(type(c1),type(c2),type(c3))

<class 'str'> <class 'str'> <class 'str'>

Complex Data type in python -
Python uses A+Bj notation to represent complex number meaning python will recognize 3+4j as a valid number but 3+4i is not valid.

In [11]:
d = 3+4j
print(type(d))

d1=5
d2=7
d3=complex(d1,d2)
print(d3)

<class 'complex'>
(5+7j)

# Explicit line joining

In [12]:
#Explicit line joining
a = "this is a strig\
this is a new line string\
it will continue\
"
b = '''hello
hi
'''
c= '''hello\
hi\
'''
print(a)
print(b)
print(c)

this is a strigthis is a new line stringit will continue
hello
hi

hellohi

# Escape sequence

In [13]:
#Escape sequence
print("Hello\n\tworld")
print(r"This ia a new line character.\n")

Hello
	world
This ia a new line character.\n

# Input and Output in Python

In [14]:
name = input("Enter your name")
print(name)

Enter your namea
a

In [15]:
numbers = input("Enter 5 numbers: ")
print(numbers)
print(type(numbers))

numbers2= input("Enter 5 numbers: ").split(" ")
#if written simple split() then it by default takes white spaces to split it.
print(numbers2)
print(type(numbers2))

print("Copying in new list")
new_list = []
for i in numbers2:
    new_list.append(int(i))
    
print(new_list)
print(type(new_list))

Enter 5 numbers: 1
1
<class 'str'>
Enter 5 numbers: 1
['1']
<class 'list'>
Copying in new list
[1]
<class 'list'>

# Print Function

In [16]:
print("my","name","is","Tanuja",21,35, 3.5 )

my name is Tanuja 21 35 3.5

In [17]:
#end argument
#sep argument
print("hello",end='\n')
print("world")
print("list","of","words",sep = '*')

hello
world
list*of*words

# Formating in string

In [18]:
#formating in string
#method 1
mystring = "Capital of %s if %s and \
%s is number %d"%("India","Delhi","Delhi",1) 
print(mystring)

#method 2
mystring2 = "Capital of {} is {}".format("India","Delhi")
print(mystring2)

Capital of India if Delhi and Delhi is number 1
Capital of India is Delhi

# Pickling

Python pickle module is used for serializing and de-serializing python object structures. The process to converts any kind of python objects (list, dict, etc.) into byte streams (0s and 1s) is called pickling or serialization or flattening or marshalling. We can converts the byte stream (generated through pickling) back into python objects by a process called as unpickling.

In [19]:
import pickle
#name of the file where you have to store object
file = 'file.data'
obj = [1,2,3]
#write to file
f = open(file,'wb')
#dump the object to the file
pickle.dump(obj,f)
f.close()

In [20]:
f= open(file,'rb')
#load the object from the file
obj = pickle.load(f)
print(obj)
f.close()

[1, 2, 3]

# Operators and Expressions

Arithmeric operators\
Logical operators\
Conditional Operators\
Bitwise Operators\
Assignment Operators

In [21]:
2+3

5

In [22]:
2-3

-1

In [23]:
2*3

6

In [24]:
5/4 #Float division

1.25

In [25]:
5//4 #Integer Division

1

In [26]:
5%2

1

In [27]:
#<<,>>,&,|,^,~,#bit wise operators

In [28]:
#Conditional Operators

In [29]:
#Logical Operators
weather = 'sunny'
if weather =='rainy' or True:
    print("something")
else:
    print("something else")

something

In [30]:
num1 = 2
num1 = num1 + 1
print(num1)

num=5
num += 1 #short hand notation
print(num)

3
6

In [31]:
name ="coding club"
if name == 'coding club':
    print("A")
elif name =='coding':
    print("B")
else:
    print("C")

A

# Loops - for loops, while loops, for each loop

In [32]:
i =1
while i<=20:
    print(i,end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [33]:
#printing factorial using loop
a = range(1,10)

#for i in range(start,end+1,step)
for i in range(1,11,1):
    print(i, end=' ')
print()
for i in range (1,11,2):
    print(i,end=' ')
print()

#reverse loop -> 10 to 1
for i in range (10,0,-2):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
10 8 6 4 2

In [34]:
name = 'coding club'
for i in name:
    if i=='g':
        continue
    if i=='l':
        break
    print(i,end=' ')

c o d i n   c

In [35]:
'''
if True:
    #do noting 
'''
#the above block will give error because python does not support empty bolck
#to avoid this we can use the keyword pass

'\nif True:\n    #do noting \n'

In [36]:
if True:
    pass

# Functions

Functions are reusable piece of program. They allow us to give name to a block of statement so that we can run it any no. of times.This is know as calling a function. We declare function using the keyword 'def'.

In [37]:
def say_hello(name ="Abhishek"):
    print("hello",name)

In [38]:
say_hello()#default argument
say_hello("Tanuja") #this name is replaced by the default argument

hello Abhishek
hello Tanuja

In [39]:
#local and global variable
x = 50
def func(x):
    print('value of x:',x)
    x=2
    print('value of x:',x)

func(7)
func(x)
print(x)

value of x: 7
value of x: 2
value of x: 50
value of x: 2
50

In [40]:
y = 50
def func():
    global y
    print('value of y:',y)
    y=2 #value of y changes globally
    print('value of y:',y)

func()
print(y)

value of y: 50
value of y: 2
2

# Keyword Arguments

In [41]:
def func(name,roll,age,group):
    print(name,roll,age,group)
func(roll=2,name='tanuja',group=1,age=21)
func(2,'abhishek',1,21)

tanuja 2 21 1
2 abhishek 1 21

# Var args

In Python, we can pass a variable number of arguments to a function using special symbols.There are two special symbols:\
Special Symbols Used for passing arguments:-\
1.) * args (Non-Keyword Arguments)\
2.) * * kwargs (Keyword Arguments)

In [42]:
def total(a=5,*numbers,**keyvalues):
    print(a)
    
    for item in numbers:
         print(item,end=' ')#tuples
    print()
    
    for first,second in keyvalues.items():
        print(first,second)
        
total(10,20,30,40,50,"tanuja",name="Diksha",age=21,year=2022,l=[1,2])

10
20 30 40 50 tanuja
name Diksha
age 21
year 2022
l [1, 2]

# List Comprehensions

In [43]:
numbers = input().split()
list_numbers =[]
for i in numbers:
    list_numbers.append(int(i))

print(list_numbers)

1
[1]

In [44]:
list_numbers = [int(every_number) for every_number in input().split()]
#list comprehension
print(list_numbers)
print(type(list_numbers))

1 2 3
[1, 2, 3]
<class 'list'>

# Python Data Structures

Strings\
Lists\
Tuples\
Dictionaries\
Sets

## Strings

In [45]:
a = 'Tanuja Kumari'
b = "Tanuja Kumari"
c = '''Tanuja Kumari'''
print(a,b,c)

Tanuja Kumari Tanuja Kumari Tanuja Kumari

In [46]:
print(a[0])
#print(a[2.5]) #Error: string indices must be integers

T

###  Change / delete a string

In [47]:
# Strings are immutable

new_string = 'coding'
print(new_string)
new_string = 'club' # we can change the whole string but not a particular element
print(new_string)
#new_string[0]='a' #error

coding
club

In [48]:
#to delete a string
del new_string
#print(new_string) #It will show error as it is now deleted
#NameError: name 'new_string' is not defined

##  Operations

- Concatination
- Membership Test
- String Method

In [49]:
s1 = "hello"
s2 = 'world'
s3 = s1+' ' +s2
print(s3)

hello world

In [50]:
#Slicing
a = "This is the python session at AI Mafia"
print(a)

This is the python session at AI Mafia

In [51]:
a.find("python")

12

In [52]:
a.find("at")

27

In [53]:
a[12]

'p'

In [54]:
a[27]

'a'

In [55]:
sliced = a[12:26:2]
print(sliced)

pto eso

In [56]:
# How can I reverse the string using slicing
c = "coding"
sliced = c[::-1]
print(sliced)

gnidoc

In [57]:
# Membership operator
if "in" in c:
    print("Present")

Present

In [58]:
#string method
a.lower()

'this is the python session at ai mafia'

In [59]:
a.upper()

'THIS IS THE PYTHON SESSION AT AI MAFIA'

In [60]:
a.title()

'This Is The Python Session At Ai Mafia'

In [61]:
a.capitalize()

'This is the python session at ai mafia'

In [62]:
len(a)

38

In [63]:
a.find("club") #When does not exist then gives -1 as input

-1

In [64]:
a.find("the")

8

In [65]:
a.index("the")

8

In [66]:
#a.index("club") 
#When does not exist then gives error as input (ValueError: substring not found)
#This is the main difference between find and index function

In [67]:
def check_substring(string,sub):
    if string.find(sub)==-1:
        print("Not Found")
    else:
        print("Found")

In [68]:
check_substring(a,"the")

Found

In [69]:
# to explore more functions
# type a. then tab
#a.

# List

In [70]:
# It is an hetrogeneous array
l = []
l2 = list() #list constructor
print(l,type(l))
print(l2,type(l2))

[] <class 'list'>
[] <class 'list'>

In [71]:
l = ["mango","banana"]
l2 = list(["mango",2,3.2])
print(l,l2)
print(l[1])#list is mutable

['mango', 'banana'] ['mango', 2, 3.2]
banana

In [72]:
l=[1,2,3,4]
print(l)
l+=l
print(l)
l.extend(l)
print(l)
l.append(l)
print(l)
print(len(l))

[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, [...]]
17

In [73]:
len(l)

17

In [74]:
lst = [1,2,3,"apple",3]
lst.insert(2,"apple")
print(lst)

[1, 2, 'apple', 3, 'apple', 3]

In [75]:
lst.remove("apple")

In [76]:
lst

[1, 2, 3, 'apple', 3]

In [77]:
lst.pop()

3

In [78]:
lst

[1, 2, 3, 'apple']

In [79]:
del lst[0]
print(lst)

[2, 3, 'apple']

In [80]:
#reversing the list
lst = [1,2,3]
lst = lst*3
print(lst)
lst.reverse()
print(lst)
lst=lst[::-1]
print(lst)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[3, 2, 1, 3, 2, 1, 3, 2, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
str1 = "abc"
print(str1)
str1 = str1*2
print(str1)

abc
abcabc

In [82]:
#sorted array numbers
numbers = [1,2,3,4,5,1,2,3,2]
sorted_list = sorted(numbers)
print(sorted_list)

numbers2 = [11,22,3,4,5,1,2,3,2]
sorted_list = sorted(numbers2)
print(sorted_list)

[1, 1, 2, 2, 2, 3, 3, 4, 5]
[1, 2, 2, 3, 3, 4, 5, 11, 22]

In [83]:
lst = [1,2,3,4]
abc = lst 
abc.append(6)
print(lst)
print(abc)

[1, 2, 3, 4, 6]
[1, 2, 3, 4, 6]

In [84]:
print(id(lst))
print(id(abc))

2954674034496
2954674034496

# Tuple

In [85]:
# Tuple is immutable
#two methods to declare it
t = (1,2,"numbers",3.5)
print(t,type(t))

(1, 2, 'numbers', 3.5) <class 'tuple'>

In [86]:
#t[3]=4 
#not allowed
#TypeError: 'tuple' object does not support item assignment

In [87]:
t = ("abhishek") #it is not tuple
print(t,type(t))
t = ("abhishek",) #it is tuple
print(t,type(t))
t = ["abhishek"] #it is not string, it is list
print(t,type(t))

abhishek <class 'str'>
('abhishek',) <class 'tuple'>
['abhishek'] <class 'list'>

In [88]:
t[-1]

'abhishek'

In [89]:
t = ("tanuja",)
print(t[-1])
print(t[-1][-1])
print(t[-1][-2])

tanuja
a
j

In [90]:
t1=(1,2)
print(t1)
del(t1)

(1, 2)

In [91]:
#print(t1)
#NameError: name 't1' is not defined

In [92]:
t = (1,2,3,1,2,3,43,54,2)

In [93]:
t.count(1)

2

In [94]:
t.index(3)

2

In [95]:
print(2 in t)

True

In [96]:
sum(t)

111

In [97]:
sorted(t)
#t.sort() #does not work with tuple because tuples are immutable

[1, 1, 2, 2, 2, 3, 3, 43, 54]

# Sets

In [98]:
# unordered collection of items, unique elements, mutable

s={1,2,3,4}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [99]:
a = set({1,2,3}) #set using constructor
print(a)

{1, 2, 3}

In [100]:
a.add(4)
print(a)

{1, 2, 3, 4}

In [101]:
# print(a[0]) #not allowed as it is unordered

In [102]:
a.update([5,6,2])

In [103]:
print(a)

{1, 2, 3, 4, 5, 6}

In [104]:
a.discard(4)
print(a)

{1, 2, 3, 5, 6}

In [105]:
a.remove(3)
print(a)

{1, 2, 5, 6}

In [106]:
a.pop()
print(a)#pops any random element

{2, 5, 6}

In [107]:
a.clear()# clears the set
print(a)#empty set

set()

### Operations on set

In [108]:
set1= {1,2,3,4,5}
set2 = {4,5, 6,8,1}
#union
print(set1|set2)
print(set1.union(set2))

#intersection
print(set1&set2)

#difference
print(set1-set2)

#symmetric difference
print(set1 ^ set2) #union - intersection

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}
{1, 4, 5}
{2, 3}
{2, 3, 6, 8}

In [109]:
set2.issubset(set1)

False

# Dictionaries

In [110]:
# key -value pair
#hashmaps- c++, java
#Json - javascript
#Dictionaries - python - key value pairs

In [111]:
dictionary = {"name":"tanuja","age":21}
print(dictionary,type(dictionary))

{'name': 'tanuja', 'age': 21} <class 'dict'>

In [112]:
set1 = {1,2,3}
set2={} #can't declare empty set like this, it is dictionary
set3=set() #empty set can be created using set constructor only

print(type(set1),type(set2),type(set3))

<class 'set'> <class 'dict'> <class 'set'>

In [113]:
#how to access the elements of the dictionary
#based on the key
print(dictionary["name"])#[] brackeys are used to access

#if the key is not present
#dictionary['key']
#to avaoid error 
print(dictionary.get('key')) #returns null if key is not present

tanuja
None

In [114]:
#add or modify
dictionary['city']='delhi'

In [115]:
dictionary

{'name': 'tanuja', 'age': 21, 'city': 'delhi'}

In [116]:
dictionary.popitem()

('city', 'delhi')

In [117]:
print(dictionary)

{'name': 'tanuja', 'age': 21}

In [118]:
del dictionary['name']

In [119]:
print(dictionary)

{'age': 21}

In [120]:
dictionary.clear()

In [121]:
print(dictionary)

{}

In [122]:
dictionary = {"name":"tanuja","age":21}
dictionary.keys()

dict_keys(['name', 'age'])

In [123]:
dictionary.values()

dict_values(['tanuja', 21])

In [124]:
dictionary.items()

dict_items([('name', 'tanuja'), ('age', 21)])

In [125]:
#applying loop
for k,v in dictionary.items():
    print("key is {} and value is {}".format(k,v))

key is name and value is tanuja
key is age and value is 21

# Advance Concepts Python

- Classes and objects (OOPS)
- Exception Handling

In [126]:
class Student:
    pass

In [127]:
p = Student()
print(p)

<__main__.Student object at 0x000002AFF15A3E50>

In [128]:
#Self keyword

In [129]:
class Student1:
    def sayHello():
        print("Hello")
        
Student1.sayHello()
p = Student1.sayHello()
print(p)
print(type(p))

Hello
Hello
None
<class 'NoneType'>

In [130]:
#init method

class Student2:
    def __init__(self,name):
        self.name = name
    def sayHello(self):
        print("Hello",self.name)
    
Student2('Tanuja').sayHello()

Hello Tanuja

In [131]:
#Constructors and destructors
class Person():
    #class variable
    number = 0 #number of persons inviked
    
    def __init__(self,name):
        #Initialise some data
        self.name = name
        print("Initialising {}".format(self.name))
        
        Person.number+=1
        
    def destruct(self):
        #It will die
        print("I am dying {}".format(self.name))
        Person.number-=1
        
    def sayHello(self):
        #greet
        print("Hello {}".format(self.name))
        
    @classmethod #decorator
    def how_many(cls):#cls stands for current class
        print("Number of persons: {}".format(cls.number))

In [132]:
person1 = Person("Tanuja")
person1.sayHello()
Person.how_many()

person1 = Person("Diksha")
person1.sayHello()
Person.how_many()

Initialising Tanuja
Hello Tanuja
Number of persons: 1
Initialising Diksha
Hello Diksha
Number of persons: 2

In [133]:
person1.destruct()

I am dying Diksha

In [134]:
Person.how_many()

Number of persons: 1

# Exceptional Handling

In [135]:
try:
    print(1/0)
except:
    print("zero division error")
finally:
    print("It runs")

zero division error
It runs